---
import { getCollection } from 'astro:content'
import Select from './Select.astro'
import { entries } from '@/utils/objects'

const cols = await getCollection('docs')
const { slug } = Astro.params
const pkg = slug?.split('/')[0]
const packages = Array.from(
  new Set(cols.map((col) => col.slug.split('/')[0]))
).filter((name) => name !== 'index')
const options = packages.map((pkg) => ({ value: pkg, label: pkg, name: pkg }))

const chapters = cols
  .filter((col) => col.slug.startsWith(pkg ?? ''))
  .map((col) => ({ ...col, label: col.slug.replace(slug ?? '', '') }))

const byCategory = chapters.reduce(
  (acc, col) => ({
    ...acc,
    [col.data.category ?? col.data.title]: [
      ...(acc[col.data.category ?? col.data.title] ?? []),
      col,
    ],
  }),
  {}
)
---

<menu class="sticky inset-0 h-screen min-w-[18%] bg-gray-900/80 p-8">
  <Select class="mb-4" name="Package" options={options} />
  {
    entries(byCategory).map(([category, chapters]) => (
      <details open>
        <summary class="text-lg font-semibold">{category}</summary>
        <ul class="space-y-1 px-6 py-1">
          {chapters.map((col) => (
            <li class="font-thin">
              <a href={`/docs/${col.slug}`}>
                {col.data.name ?? col.data.title}
              </a>
            </li>
          ))}
        </ul>
      </details>
    ))
  }
</menu>
